* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

table td input {
  font-size: 13px;
  width: 100%;
  padding:10px 10px 5px 5px;
  display:block;
  border:none;
  border-bottom:1px solid #757575;
}

table td input:focus {
  outline: none;
}
